.bdmapbk{
    float: right;
    width: 773px;
    height: 560px;
    font-size: 14px;
    line-height: 36px;
    color: #666666;
    padding-left: 40px;
    text-align: center;
}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap;}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word;}